<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postAppr > 0,
                'list-group-item-danger': postAppr < 0 }">

<div class="wrapper">
  <div class="row">
    <div class="col-xs-6">
      <h3><strong>{{ postTitle }}</strong></h3>
    </div>
    <div class="col-xs-6 text-right">
      <h4><em>{{ postDate | date: "short" }}</em></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>{{ postText }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <span>{{ getLoveIts() }} ❤</span>&nbsp;
      <button class="btn btn-success"
            (click)="loveItsAction('add')">
        Sweet!
      </button>&nbsp;
      <button class="btn btn-danger"
            (click)="loveItsAction('dec')">
        Thanks, I hate it
      </button>
    </div>
  </div>
</div>
  
</li>